# Project specific files and folders

/doc/library/*
!/doc/library/README.md

.idea
.ipynb_checkpoints/
.DS_Store

__pycache__/
*.py[cod]
*$py.class
.Python
pip-log.txt
pip-delete-this-directory.txt


# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/
